:root {
    --primary: #569700;
    --secondary: hsl(86, 100%, 71%);
    --darkest: #3f2e2e;
    --dark: #725f5f;
    --mid: #777676;
    --light: #fff6e8;
    --ultralight: #fffefd;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--darkest);
    background: var(--ultralight);
    margin: 0;
    padding: 0;
    font-family: 'Sahel', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    direction: rtl;
    width: 100%;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration-color: var(--secondary);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

a:hover {
    color: var(--dark);
}

a[title]:hover::after {
    margin-right: .3em;
    padding-right: .3em;
    padding-left: .3em;
    content: attr(title);
    font-size: .7em;
    font-weight: 500;
    background-color: var(--darkest);
    ;
    color: var(--ultralight);
    animation: accordion 1s forwards;
    border-radius: .5em;
}

a[title]:hover::before {
    margin-left: .1em;
    display: inline-block;
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--dark) transparent transparent;
}

@-webkit-keyframes glow {
    from {
        text-decoration-color: var(--secondary);
    }
    to {
        text-decoration-color: var(--primary);
    }
}

@-webkit-keyframes accordion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    padding: 2vh 5vw 2vh 5vw;
    font-size: .8em;
    border-bottom: solid .01em var(--light);
    font-weight: 900;
}

header nav ul,
footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0.3em;
}

.flush-left {
    float: left;
    direction: ltr;
    text-align: left;
}

article {
    margin: 10vh 5vw 1vh 5vw;
}

article .heading {
    display: none;
}

article h2 {
    font-weight: 900;
}

article {
    padding: 5vw;
}

article>.letter>p {
    text-indent: 2em;
    word-spacing: .3em;
    line-height: 2em;
    text-align: justify;
}

.opening img {
    margin-right: 2em;
    width: 2em;
}

.closing {
    text-align: left;
    margin-top: 3em;
    margin-bottom: 1em;
}

.closing .name,
.closing time {
    display: block;
}

.logo {
    padding-left: 1em;
    width: 6vh;
    fill: var(--darkest);
    ;
}

footer {
    background-color: var(--darkest);
    font-weight: 900;
    color: var(--ultralight);
    margin-top: auto;
    padding: 5vh 5vw 5vh 5vw;
}

.profile-pic {
    width: 7vw;
    height: 7vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.b {
    /* Fallback: Set a background color. */
    background-color: var(--darkest);
    /* Create the gradient. */
    background-image: linear-gradient(45deg, var(--mid), var(--darkest));
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}