body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3f3626;
    background: #F9FBFF;
    margin: 0;
    padding: 0;
    font-family: 'Sahel', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    direction: rtl;
}

a {
    color: inherit;
    text-decoration-color: #75f5fc;
}

header {
    padding: 2vh 5vw 2vh 5vw;
    font-size: .8em;
    color: #757575;
    border-bottom: solid .01em #dfdfdf;
}

header nav ul,
footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0.3em;
}

.flush-left {
    float: left;
    direction: ltr;
    text-align: left;
}

article {
    margin: 10vh 5vw 1vh 5vw;
}

article>.letter>p {
    text-indent: 2em;
}

.opening img {
    margin-right: 2em;
    width: 4em;
}

.closing {
    text-align: left;
}

.closing .name,
.closing time {
    display: block;
}

.logo {
    padding-left: 1em;
    width: 6vh;
    fill: #3f3626;
}

footer {
    background-color: #3f3626;
    color: #F9FBFF;
    margin-top: auto;
    padding: 5vh 5vw 5vh 5vw;
}

.profile-pic {
    width: 7vw;
    height: 7vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}